a{
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("./assets/bg.svg"); /* Replace with your image path */
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("./assets/bg.svg"); /* Same image as the body */
    background-size: cover;
    background-attachment: fixed;
    filter: blur(50px); /* Adjust the blur radius as needed */
    z-index: -1;
}

header {
    display: flex;
    align-items: center;
    padding: 1px; /* Reduced padding */
}
header img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

header h1 {
    text-align: center;
    font-size: 48px;
}

.logo{
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

nav ul a:hover {
    background-color: #333;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px;
}